body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed';
    font-size: 18px;
    background: #FFFC85;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}
.fitribookstore{
    padding: 100px;
}
.navbar{
    font-family: cursive;
    font-size: 20px;
    position: fixed;
    z-index: 1030;
    width: 100%;
}
.nav-link{
    color: black;
}
.bg-light{
    background: url("https://files.catbox.moe/i183nj.jpg") !important;
}
.logo{
    height: 50px;
    float: left;
}
.title{
    padding: 25px;
}
h3{
    margin: 0 0 0 4%;
    padding: 0;
}
.btn{
    background-color: darkred;
}

.searchbox{
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.table-of-books {
    margin: 24px;
}